JWT_SECRET=
GOOGLE_APPLICATION_CREDENTIALS_BASE64=
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
OPENAI_API_KEY=
# GOOGLE_VERTEXAI_TEXT_MODEL=
GOOGLE_VERTEXAI_TEXT_MODEL=
GOOGLE_CLOUD_DATASTORE_DATABASE=
GOOGLE_CLOUD_REDIS_INSTANCE_ID=
GOOGLE_CSE_ID=
GOOGLE_CSE_API_KEY=
OPENWEATHER_API_KEY=
# TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
REDIS_URL=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
COINMARKETCAP_API_KEY=
WALLET_ADDRESS=
WALLET_PRIVATE_KEY=
DEBUG=*